body {
  color: #ddd;
  background-color: #333;
}




button {
  margin: 10px;
  color: black;
}

img {
  width: 51%;
  float:left;
  margin: 20px;
  border: 1px solid lightblue;
}

input {
  color: black;
}
